<!DOCTYPE html>
<html>
  <head>
    <title>snakeonline</title>

    <!-- Libs -->
    <script type="text/javascript" src="/libs/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/libs/underscore.js"></script>

    <!-- Scripts -->
    <script type="text/javascript" src="/scripts/extensions/base_objects.js"></script>
    <script type="text/javascript" src="/scripts/additions/restoreable.js"></script>
    <script type="text/javascript" src="/scripts/namespaces.js"></script>
    <script type="text/javascript" src="/scripts/engine/geometry/line.js"></script>
    <script type="text/javascript" src="/scripts/engine/geometry/circle.js"></script>
    <script type="text/javascript" src="/scripts/engine/font.js"></script>
    <script type="text/javascript" src="/scripts/engine/text.js"></script>
    <script type="text/javascript" src="/scripts/engine/sprite.js"></script>
    <script type="text/javascript" src="/scripts/engine/animations/keyframe.js"></script>
    <script type="text/javascript" src="/scripts/engine/key_states.js"></script>
    <script type="text/javascript" src="/scripts/engine/screen.js"></script>
    <script type="text/javascript" src="/scripts/engine/game.js"></script>
    <script type="text/javascript" src="/scripts/snake_online/entities/snake.js"></script>
    <script type="text/javascript" src="/scripts/snake_online/screens/score.js"></script>
    <script type="text/javascript" src="/scripts/snake_online/screens/play.js"></script>
    <script type="text/javascript" src="/scripts/snake_online/screens/ready.js"></script>
    <script type="text/javascript" src="/scripts/snake_online/screens/menu.js"></script>
    <script type="text/javascript" src="/scripts/snake_online/screens/splash.js"></script>
    <script type="text/javascript" src="/scripts/snake_online/screens/init.js"></script>
    <script type="text/javascript" src="/scripts/snake_online/game.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/styles/game.css">
  </head>

  <body>
    <canvas id="gameCanvas" tabindex="0"></canvas>
  </body>
</html>