<!DOCTYPE html>
<html>
  <head>
    <title>snakeonline</title>

    <!-- Libs -->
    <script type="text/javascript" src="/libs/underscore.js"></script>

    <!-- Scripts -->
    <script type="text/javascript" src="/scripts/extensions.js"></script>
    <script type="text/javascript" src="/scripts/namespaces.js"></script>
    <script type="text/javascript" src="/scripts/engine/geometry/line.js"></script>
    <script type="text/javascript" src="/scripts/engine/geometry/circle.js"></script>
    <script type="text/javascript" src="/scripts/engine/text.js"></script>
    <script type="text/javascript" src="/scripts/engine/sprite.js"></script>
    <script type="text/javascript" src="/scripts/engine/animations/keyframe.js"></script>
    <script type="text/javascript" src="/scripts/engine/screen.js"></script>
    <script type="text/javascript" src="/scripts/snake_online/screens/game.js"></script>
    <script type="text/javascript" src="/scripts/snake_online/screens/menu.js"></script>
    <script type="text/javascript" src="/scripts/snake_online/screens/splash.js"></script>
    <script type="text/javascript" src="/scripts/snake_online/screens/splash_loading.js"></script>
    <script type="text/javascript" src="/scripts/snake_online/game.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/styles/game.css">
  </head>

  <body>
    <canvas id="gameCanvas" tabindex="0"></canvas>
  </body>
</html>